<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="inputFullname">Full Name</label>
                    <input type="fullname" class="form-control" id="inputFullname" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email Address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="inputPhone">Phone Number</label>
                    <input type="phone" class="form-control" id="inputPhone" placeholder="Phone" >
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Signup</button>
                <a class="btn btn-info btn-lg btn-block" href="#" role="button">Have account, login here ...</a>
            </form>
        </div
        <div class="col-md-4"></div>
    </div>
</div>